.circle-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Full height of the viewport */
    overflow: hidden;
  }
  
  .blur-circle {
    border-radius: 50%;
    filter: blur(40px); /* Adjust blur density as needed */
    position: absolute; /* Position the circle absolutely within the container */
  }
  
  .white-circle {
    background: rgb(0, 75, 60);
  }
  
  .sky-circle {
    background: rgb(0, 17, 76); /* Sky color for the second circle */
  }
  
  .banner-wcircle{
    position: absolute;
    top: 200px;
    left: 1100px;
    background: #A7B5B7;
    border-radius: 50%;
    filter: blur(150px);
  }