.featuredSection {
  padding: 20px;
  background-color: #1a1a1a;
  /* dark black theme */
  border-radius: 8px;
  margin: 18px;
  overflow: hidden;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
  /* white text color */
  font-size: 3em;
}

.featuredItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.featuredItem {
  background: #2f2f2f;
  /* dark gray background */
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  text-align: center;
  color: #fff;
  /* white text color */
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  /* make image clickable */
  border: 1px solid #fff;
  /* add image border */
}

.featuredItem img {
  max-width: 150%;
  max-height: 200px;
  border-radius: 1px;
  margin: 0 auto;
  display: block;
  opacity: 1;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.featuredItem:hover img {
  opacity: 0.8;
  transform: scale(1.1);
  /* zoom in on hover */
}

.featuredItem:hover {
  animation-play-state: paused;
  /* stop animation on hover */
}

.featuredItemOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* dark overlay */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.featuredItem:hover .featuredItemOverlay {
  opacity: 1;
}

.featuredItem h3 {
  margin: 10px 0;
  color: #fff;
  /* white text color */
}

.featuredItem p {
  color: #fff;
  /* white text color */
  font-size: 16px;
}

.firstRow {
  display: flex;
  justify-content: space-between;
  animation: scrollLeft 10s linear infinite;
}

.secondRow {
  display: flex;
  justify-content: space-between;
  animation: scrollRight 10s linear infinite;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.featuredItems:hover .firstRow {
  animation-play-state: paused;
}

.featuredItems:hover .secondRow {
  animation-play-state: paused;
}

/* Add lightbox effect on click */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  /* dark background */
  display: none;
  justify-content: center;
  align-items: center;
}

.lightbox img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 1px;
  margin: 0 auto;
  display: block;
}

.lightbox:target {
  display: flex;
}

.lightbox-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

.lightbox-close:hover {
  color: #ccc;
}